#main li
{
	list-style: none;
	display: inline-flex;

}
#main
{
	border: 3px solid black;
	height: 50px;
	background-color: #ffb4b0;
}
#main li a
{
	padding-right: 15px;
	padding-left: 15px;
	font-size: 1.2em;
}

#main li:nth-of-type(1)
{
	border-right: 3px solid black;
}
body
{
	width: 60%;
	margin: auto;
}
.selected
{
	text-decoration: none;
	color: black;
}

/*******************
FORM
*******************/
#form
{
	background-color: #4dd7fa;
	border: 3px solid black;
	display: inline-block;
	float: left;
	width: 25%;
	margin: 1% 0 1% 0;
	padding: 10px;
	height: 380px;
	overflow: hidden;
}
#form > section
{
	padding: 10px 10px 10px 25px;
}
#songlength
{
	width: 100%;
}
#artistSelect, #albumSelect
{
	border-radius: 5px;
	width: 100%;
	border :3px solid black;
}

#selectGenre > div
{
	width: 50%;
	display: inline-flex;
	float: left;
}

#selectGenre
{
	overflow: hidden;
}

#filter
{
	border: 3px solid black;
	border-radius: 5px;
	width: 50%;
	margin: auto;
}

#button
{
	/*margin: 0 auto;*/
	/*float: center;*/
	width: 100%;
	height: 15px;
}
#button #filter
{
	display: block;
	/*margin: auto;*/
	width: 50%;
	height: 30px;
	margin-bottom: 10px;
}


/*******************
Display
*******************/
#display
{
	background-color: #fefac0;
	border: 3px solid black;
	width: 70%;
	float:right;
	margin: 1% 0 1% 1%;
	overflow: scroll;
	height: 400px;

}

.inline li
{
	list-style: none;
	padding-right: 15px;
	font-size: 1.2em;
	text-align: left;
}

.inline
{
	margin: 1px;
	text-align: left;
	padding-left:10px;
}
.inline ul
{
	padding-left: 0;
}
.inline li
{

	text-align: left;
}

@media screen and (min-width: 960px) /* for laptops screens and bigger */
{
	.inline li:nth-of-type(1)
	{
		border-right: 1px solid black;
	}
	.inline li:nth-of-type(2)
	{
		border-right: 1px solid black;
	}

	.inline li
	{
		display: inline-block;
	}

	body
	{
		font-size: 1.2em;
	}

	/*#display
	{
		text-align: center;
	}*/
}

@media screen and (min-width: 480px) /*for tabs*/
{

}